@CHARSET "UTF-8";

.addnote {
	background-color: White;
	margin-top: 10px;
	margin-bottom: 25px;
	margin-left: 20%;
}

.notetitle {
	outline: none;
	padding-top: 5px;
	height: 28px;
}

.noteDescypt{
	outline: none;
	padding-top: 5px;
	height: 28px;
}



[contentEditable=true]:empty:not (:focus ):before {
	color: #989faa;
	content: attr(data-ph)
}