#login-abc {
	background-color: #ffffff;
	padding-bottom: 40px;
	margin-top: 40px;
	max-width: 350px;
}

#registration-abc {
	max-width: 450px;
	background-color: #ffffff;
	margin-top: 40px;
	padding-bottom: 25px;
}