.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.input-group {
	margin-bottom: 10px;
}

.separator {
	border-right: 1px solid #dfdfe0;
}

.facebook, .google {
	min-width: 250px;
}

.facebook {
	background-color: #0099e6;
	color: #fff;
}

.google {
	background-color: #ff5c33;
	color: #fff;
}

.or-box {
	position: relative;
	border-top: 1px solid #dfdfdf;
	padding-top: 20px;
	margin-top: 20px;
}

.or {
	color: #666666;
	background-color: #ffffff;
	position: absolute;
	text-align: center;
	top: -8px;
	width: 40px;
	left: 90px;
}

.ng-invalid {
	border: 1px solid=red;
}