.sidenav {
    height: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
   
    overflow-x: hidden;
    transition: 0.5s;
    padding-top :60px;
   
  }

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#topNavigation li {
	margin-right: 40px;
}

#topNavigation input {
	length: 100px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    cursor: pointer;
}

.search-bar{
	padding-right: 350px;
	margin-top: 18px;
}

.toggle-button {
	background-color: black;
}

.navbar-toggle {
	background-color: transparent;
	display: inline-block;
}


.span-a {
	font-size: 25px;
	cursor: pointer
}

.xyz{
	background-color: white;
	 padding-left: 10px;
}