.sideNav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.3s;
	padding-top: 7%;
	
}

ul{
	list-style-type: none;
}

.sideNav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: black;
	display: block;
	transition: 0.3s;
	padding-top: 25px;
}

.sideNav a:hover {
	color: grey;
}

.topNav .navbar-default {
	background-color: #ff9900;
	margin-bottom: 0%;
}

.topNav .navbar-default .navbar-brand {
	color: #000000;
	margin-left: 20px;
}

 
 
#topNavigation li {
	margin-right: 20px;
}

#topNavigation input {
	length: 100px;
}


#main {
    transition: margin-left .5s;
    padding: 16px;
    cursor: pointer;
}

.search-bar{
	padding-right: 350px;
	margin-top: 18px;
}

.toggle-button {
	background-color: black;
}

.navbar-toggle {
	background-color: transparent;
	display: inline-block;
}


.span-a {
	font-size: 25px;
	cursor: pointer
}

.xyz{
	background-color: white;
	 padding-left: 10px;
}

input[type=text] {
    width: 550px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}



