#topNavigation {
	background-color: #ffbb33;
}

#topNavigation ul {
	background-color: #ffbb33;
}

#topNavigation li {
	background-color: #ffbb33;
	margin-right: 20px;
	margin-top: 10px;
}

#topNavigation input {
	length: 100px;
}

.toggle-button {
	background-color: black;
}

.navbar-toggle {
	background-color: transparent;
	display: inline-block;
}

.icon-bar {
	background-color: #333;
}

#btn-signout {
	margin-right: 25px;
}

.navbar-padding {
	padding-left: 20px;
	padding-right: 20px;
	height: 50px;
}