
<div class="container">
	<div class="row">
	
		<div class="col-sm-5" id="addForm"
			style="background-color: {{AddNoteColor}}">
			<div class="form-group">

				<div ng-show="AddNoteBox" data-text="Title" contentEditable="true"
					id="notetitle"></div>
				<br>
				<div contentEditable="true" data-text="Take a note..."
					ng-click="ShowAddNote()" id="noteDescription"></div>
				<br>
				<div ng-show="AddNoteBox">
					<div class="note-icons card-margin">
						<reminder></reminder>

						<img alt="colaburator" src="image/colaburator.png" height="23px"
							ng-click="openColaburator(note,UserDetails,$index)">

						<color></color>

						<span ng-click="openImageUploader(note)" class="btn"> <img
							alt="image" src="image/image.svg" height="20px">
							
						</span> <span ng-click="archiveNote(note)" class="btn"> <img
							alt="archive" src="image/archive.svg" height="20px">
							
						</span>

						<drop-down></drop-down>
					
				

					<div style="float: right">
						<div id="edit">
							<button type="button" class="btn btn-default"
								ng-click="addNote()">DONE</button>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>