<div class="container">
	<div class="row">
		<div class="col-sm-5" id="addNoteForm" style="background-color: {{AddNoteColor}}">
			<div class="form-group" >
	
				<div ng-show="AddNoteBox" data-text="Title" contentEditable="true" id="notetitle"></div>
					<br>
				<div contentEditable="true" data-text="Take a note..." ng-click="ShowAddNote()" id="noteDescription"></div>
					<br>
				<div ng-show="AddNoteBox" style="float: left">
						<div id="moreOptions">
							<div class="dropdown">
								
								<img alt="reminder" src="image/reminder.svg" height="15px">
								<img alt="colaburator" src="image/colaburator.png" height="25px">
								
								
								<div class="btn-group dropup colorDiv" uib-dropdown>
									<img id="dropdown" class="dropdown-toggle" data-toggle="dropdown" alt="color" src="image/colorpallete.svg" uib-dropdown-toggle height="20px">
									<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" style="background-color: #f9fbff">
										<a ng-repeat="color in colors" role="menuitem"> 
											<img ng-src="{{color.path}}" height="25px" ng-click="note.noteColor =color.color;addNoteColorChange(color.color)">
										</a>
									</ul>
								</div>
								
								<img alt="image" src="image/image.svg" height="20px">
								
								<span ng-click="archiveNote(note)">
									 <img alt="archive" src="image/archive.svg" height="20px">
								</span>
								 
							
								<span class="btn dropdown-toggle" id="menu1" data-toggle="dropdown"> 
									<span class="glyphicon glyphicon-option-vertical"></span>
								</span>
									
								<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
										<li><a ng-click="">Add label</a></li>
								</ul>
								
							</div>
						</div>
					</div>
				
					<div class="dropdown" style="float: right">
							<div class="btn-group dropup colorDiv"></div>
					<span ng-click="addNote()">DONE</span>
				</div>
			</div>
		</div>
	</div>
</div>
