<top-bar></top-bar>
<side-bar></side-bar>
<div id="noteContainer" class="container-fluid">
	<br> <br> <br> <br> <br> <br>
	<div ng-click="AddNoteColor='#ffffff'">

		<div class="card col-sm-4" style="background-color: {{note.noteColor"
			ng-repeat="note in allGetNotes | orderBy : '-modifiedDate' | filter :{archiveStatus:'true',noteStatus:'false'}">

			<div ng-click="open(note)">
				<div class="pinCss1">
					<span class="pinCss2" id="moreOptions"
						ng-click="note.pin='true'; updateNote(note)"> <img
						alt="pin" src="image/pin.svg">
					</span> 
					
			<div ng-click="open(note)">		
				<img ng-src="{{note.image}}" style="width: 100%" />

				</div>
				<div class="col-sm-12" style="padding: 10px;" id="moreOptions">

					<div ng-bind-html="note.title"></div>
					<br>
					<div ng-bind-html="note.description | parseUrlFilter"></div>
					<br>
				</div>
			</div>



			<div id="reminder" ng-if="note.reminderStatus!=null">
				{{note.reminderStatus}}<span class="closebtn"
					ng-click="removeReminder(note)">&#x274C;</span>
			</div>

			<div class="note-icons card-margin" id="hide-Options">

				<reminder class="margin"></reminder>
				<img alt="colaburator" src="image/colaburator.png" height="23px"
					ng-click="openColaburator(note,UserDetails,$index)"
					class="margin">

				<color class="margin"></color>
				<span ng-click="openImageUploader(note)" class="btn"> <img
					alt="image" src="image/image.svg" height="20px"
					class="margin">
				</span> <span ng-click="unarchiveNote(note)" class="btn"> <img
					alt="archive" src="image/unarchive.png" height="20px">
				</span>
				<drop-down></drop-down>
			</div>
			<url-image></url-image>

		</div>
	</div>
</div>
</div>


