<div class="dropdown inline">
	<div class="btn btn-group dropup colorDiv" uib-dropdown>
		<img id="dropdown" class="dropdown-toggle" data-toggle="dropdown"
			alt="color" src="image/colorpallete.svg" uib-dropdown-toggle
			height="20px">
		<ul class="dropdown-menu" uib-dropdown-menu role="menu"
			aria-labelledby="btn-append-to-body"
			style="background-color: #f9fbff">
			<a ng-repeat="color in colors" role="menuitem"> <img
				ng-src="{{color.path}}" height="25px"
				ng-click="note.noteColor =color.color; addNoteColorChange(color.color)">
			</a>
		</ul>
	</div>
</div>