
<div class="modal-content">
	<div class="modal-body">
		<div class="form-group">

			<div id="notetitle" contenteditable="true" ng-model="note.title"></div>
			<div id="noteDescription" contenteditable="true" ng-model="note.description"></div>

				<div  style="float: right">
					<div>
						<div class="dropdown" style="float: right">
							<div class="btn-group dropup colorDiv">
							</div>
							<span ng-click="updateNote(note)">DONE</span>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
