<div class="container">
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-body">
				<div class="form-group">
					<h2>Forget password</h2>
				</div>

				<div class="form-group">
					<label class="control-label" for="firstName">Enter the
						email </label> <input id="email" type="email" name="email"
						ng-model="user.email" placeholder="Enter your email"
						class="form-control">
				</div>

				<div class="form-group">
					<button id="submit" type="submit" ng-click="sendLink()"
						class="btn btn-success btn-block">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>