<div>
	<top-bar></top-bar>
	<div class="row">
		<div class="col-sm-2" id="sidebarWrapper" ng-show="showSideBar">
			<side-bar></side-bar>
		</div>
		
		<div id="mainHome">
			<div class="col-sm-10" id="mainWrapper">		
				<add-notes></add-notes>
					<div ng-click="AddNoteBox=false; AddNoteColor='#ffffff'">
						<div class="card" ng-repeat="note in allGetNotes">
							<div ng-bind-html="note.title"></div>
							<br>
							<div ng-bind-html="note.description"></div>
							<br>
						</div>				
					</div>
			</div>
		</div>
	</div>
</div>
