<div class="modal-content">
	<div class="modal-header">
		<font size="6px">Edit Labels</font>
	</div>
	
		<div class="input-group">
			<span class="input-group-addon">
			<i class="glyphicon glyphicon-remove" onclick="cleanUp()"></i>
			</span>
			 <input type="text" class="form-control" placeholder="Create New Label"
				data-ng-model="label.labelName" id="ab">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-ok" data-ng-click="saveLabel(label)"></i>
				</span>
		</div>
		
		<div data-ng-repeat="label in labels">
			<div class="input-group">
				<span class="input-group-addon">
				<i class="glyphicon glyphicon-trash" data-ng-click="deleteLabel(label)"></i></span>
					
						<input type="text" class="form-control" data-ng-model="label.labelName">
				
				<span class="input-group-addon"><i
					 class="glyphicon glyphicon-pencil" data-ng-click="editLabel(label)"></i></span>
			</div>
		</div>
	
		<div class="modal-footer">
			<div class="modal-footer">
				<button type="button" class="btn btn-default" >Close</button>
			</div>
		</div>
</div>
