<div class="modal-content">
	<div class="modal-header">
		<font size="6px">Edit Labels</font>
	</div>

		<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-remove" onclick=""></i>
				</span> 
				
				<input type="text" class="form-control" placeholder="Create New Label" data-ng-model="label.labelName" id="cleanField">
				
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-ok" data-ng-click="saveLabel(label)"></i>
				</span>
		</div>
	
		<div data-ng-repeat="label in labels">
			<div class="input-group">
				<span class="input-group-addon"><i
					class="glyphicon glyphicon-trash" data-ng-click="removeLabel(label)"></i></span>
				<div contenteditable="true" class="form-control"
					data-ng-bind="label.labelName" data-ng-model="label.labelName"></div>
				<span class="input-group-addon"><i
					class="glyphicon glyphicon-ok" data-ng-click="updateLabel(label)"></i></span>
			</div>
		</div>
	
		<div class="modal-footer">
			<div class="modal-footer">
				<button type="button" ng-click="saveLabel()" class="btn btn-default" data-dismiss="modal">DONE</button>
			</div>
		</div>
</div>


<!-- 
<div class="body" style="margin:10px">
	<div id="labelHeader"><h4>Add or Edit Labels</h4></div>
	<div class="newLabel" style="margin:10px">
	
	<img alt="plus" src="image/plus.svg"  ng-show="!editLabelFocus">
	<img alt="remove" src="image/remove.svg" ng-show="editLabelFocus">
		<input class="newLabel" type="text" placeholder="Create new label" ng-model= "$parent.newLabel" 
			ng-focus="editLabelFocus=true" ng-blur="editLabelFocus=false" 
			aria-label="Create new label" maxlength="50">
			<img alt="save" src="image/edit.svg" ng-click="saveLabel(label)">
	<hr class="break">
	</div >
	<div class="labelList" ng-repeat="label in labels" style="margin:10px">
		<img alt="delete" src="image/delete.svg" ng-click="deleteLabel(label)">
		<input class="labelList" type="text" ng-model="label.labelName" maxlength="50" style="border:none;outline:none">
		<img alt="save" src="image/edit.svg" ng-click="editLabel(label)">
	</div>
	<hr class="break">
	<button type="btn" ng-click="saveLabel()">Done</button>	
	
</div>
 -->