<top-bar></top-bar>
<side-bar></side-bar>
<div id="noteContainer" class="container-fluid">
	<br> <br> <br> <br> <br> <br>
	<div class="row">
		<div class="col-xl-12 col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<div class="row">
				<table class="table">
				    <thead>
				      <tr>
				        <th>Title</th>
				        <th>Action</th>
				        <th>Action Time</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="log in AllLog">
				        <td>{{log.title}}</td>
				        <td>{{log.action}}</td>
				        <td>{{log.actionTime | date :'MMMM,dd HH:mm'}}</td>
				      </tr>
				      
				    </tbody>
				  </table>
				
			</div>
		</div>
	</div>
</div>