<div>
	<br> <br>
	<h4 ng-show="pinnedNotes.length">Pinned</h4>
	<div class="card" ng-click="showModal(note)" style="background-color: {{note.noteColor}}"
		ng-repeat="note in allGetNotes | orderBy : '-modifiedDate' | filter :{pin:'true', archiveStatus:'false' , noteStatus:'true' , deleteStatus:'false'} as pinnedNotes">

		<div id="moreOptions" style="float: right;">
			<span ng-click="note.pin=false; updateNote(note)"> <img
				alt="pin" style="height: 17px" src="image/bluepin.svg"></img>
			</span>
		</div>

		<div ng-bind-html="note.title" ng-click="open(note)"></div>
		<br>
		<div ng-bind-html="note.description" ng-click="open(note)"></div>
		<br>

		<div id="moreOptions">
			<div class="dropdown">

				<img alt="reminder" src="image/reminder.svg" height="18px"> 
				<img alt="colaburator" src="image/colaburator.png" height="25px">


				<div class="btn-group dropup colorDiv" uib-dropdown>
					
					<img id="dropdown" class="dropdown-toggle" data-toggle="dropdown" alt="color" src="image/colorpallete.svg" uib-dropdown-toggle height="20px">
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" style="background-color: #f9fbff">
						<a ng-repeat="color in colors" role="menuitem"> <img
							ng-src="{{color.path}}" height="25px"
							ng-click="note.noteColor =color.color;addNoteColorChange(color.color)">
						</a>
					</ul>
				</div>


				<img alt="image" src="image/image.svg" height="20px"> 
				<span ng-click="archiveNote(note)"> <img alt="archive" src="image/archive.svg" height="20px">
				</span> 
				<span class="btn dropdown-toggle" id="menu1" data-toggle="dropdown">
					<span class="glyphicon glyphicon-option-vertical"></span>
				</span>
				<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
					<li><a ng-click="deleteNote(note)">Delete</a></li>
					<li><a ng-click="">Add label</a></li>
					<li><a ng-click="copy(note)">Make a Copy</a></li>
					<li><a ng-click="fbAsyncSocialShare(note)">Social Share</a></li>
				</ul>

			</div>
		</div>
	</div>
</div>