<top-bar></top-bar>
<side-bar></side-bar>
<div id="noteContainer" class="container-fluid">
	<add-notes></add-notes>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<br> <br>

				<div class="card col-sm-4"
					style="background-color: {{note.noteColor"
					ng-if="note.reminderStatus!=null"
					ng-repeat="note in allGetNotes | orderBy : '-modifiedDate' | filter :{pin:'false',archiveStatus:'false' , noteStatus: 'true' , deleteStatus:'false'}">

					<div ng-click="open(note)">
						<div class="pinCss1">
							<span class="pinCss2" id="moreOptions"
								ng-click="note.pin='true'; updateNote(note)"> <img
								alt="pin" src="image/pin.svg">
							</span> <a> <img ng-src="{{note.image}}" style="width: 100%" />
							</a>

						</div>
						<div class="col-sm-12" style="padding: 10px;" id="moreOptions">

							<div ng-bind-html="note.title"></div>
							<br>
							<div ng-bind-html="note.description | parseUrlFilter"></div>
							<br>
						</div>
					</div>

					<div id="reminder">
						{{note.reminderStatus}}<span class="closebtn"
							ng-click="removeReminder(note)">&#x274C;</span>
					</div>

					<div class="note-icons card-margin" id="hide-Options">
						<reminder class="icons-margin"></reminder>

						<img alt="colaburator" src="image/colaburator.png" height="23px"
							ng-click="openColaburator(note,UserDetails,$index)"
							class="icons-margin">

						<color-pallet class="icons-margin"></color-pallet>

						<span ng-click="openImageUploader(note)" class="btn"> <img
							alt="image" src="image/image.svg" height="20px"
							class="icons-margin">
						</span> <span ng-click="archiveNote(note)" class="btn"> <img
							alt="archive" src="image/archive.svg" height="20px"
							class="icons-margin">
						</span>

						<drap-down></drap-down>
					</div>
					<url-image></url-image>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
