<div class="container">
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-body">
				<div class="form-group">
					<h2>Reset Password</h2>
				</div>

				<div class="form-group">
					<label class="control-label" for="email">Enter the
						email </label> <input id="email" type="email" name="email"
						ng-model="user.email" placeholder="Enter your email"
						class="form-control">
				</div>
				<div class="form-group">
					<label class="control-label" for="password">Enter new
						password</label> <input id="password" type="password" name="password"
						ng-model="user.password" placeholder="Enter new password"
						class="form-control">
				</div>

				<div class="form-group">
					<button id="submit" type="submit" ng-click="resetPassword()"
						class="btn btn-success btn-block">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>
