<top-bar></top-bar>
<side-bar></side-bar>
<br><br><br><br><br><br>
<div id="noteContainer" class="container-fluid">
	
		<div class="container">
			<div class="row">
				 <div class="col-12">
					<br> <br>
				
					<div class="card col-sm-4" style="background-color: {{note.noteColor}}"
						ng-repeat="note in allGetNotes | filter : searchText ">
				
						<div ng-click="open(note)">
								<div class="pinCss1">
								<span class="glyphicon glyphicon-pushpin pinCss2" id="moreOptions"  ng-click="note.pin='true'; updateNote(note)" ></span>
									<img ng-src="{{note.image}}"  style="width:100%"/>
								</div>
								<div class="col-sm-12" style="padding: 10px;" id="moreOptions">
									
									
									<div ng-bind-html="note.title"></div>
									<br>
									<div ng-bind-html="note.description"></div>
									<br>
								</div>
						</div>
						
						<div id="reminder" ng-if="note.reminderStatus!=null">
							{{note.reminderStatus}}<span class="closebtn" ng-click="removeReminder(note)">&#x274C;</span>
						</div> 
						
						<div id="moreOptions">
							<div class="dropdown inline">
								<span class="btn dropdown-toggle" id="menu2" data-toggle="dropdown">
										<img alt="reminder" src="image/reminder.svg" height="17px">
								</span>
														
								<ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
									<li>
										<input type="text" ng-attr-id="datepicker{{note.noteId}}" class="reminder">
									</li>
									<li>
										<button ng-click="openReminder(note)">
											<span  class="glyphicon glyphicon-calendar"></span>
										</button>
									</li>
								</ul>
								
							</div>
							
							
							<img alt="colaburator" src="image/colaburator.png" height="23px" ng-click="openCollboarate(note,UserDetails,$index)">
						
							<div class="dropdown inline">
								<div class="btn btn-group dropup colorDiv" uib-dropdown>
									<img id="dropdown" class="dropdown-toggle" data-toggle="dropdown"
										alt="color" src="image/colorpallete.svg" uib-dropdown-toggle
										height="20px">
									<ul class="dropdown-menu" uib-dropdown-menu role="menu"
										aria-labelledby="btn-append-to-body"
										style="background-color: #f9fbff">
										<a ng-repeat="color in colors" role="menuitem"> <img
											ng-src="{{color.path}}" height="25px"
											ng-click="note.noteColor =color.color; addNoteColorChange(color.color)">
										</a>
									</ul>
								</div>
							</div>
							
							
								<span ng-click="openImageUploader(note)" class="btn"> 
									<img alt="image" src="image/image.svg" height="20px">	
								</span>
					
								
								<span ng-click="archiveNote(note)" class="btn"> 
									<img alt="archive" src="image/archive.svg" height="20px">	
								</span>	
							
							
								<div class="dropdown inline">
										 <span class="btn dropdown-toggle" id="menu1" data-toggle="dropdown">
												<span class="glyphicon glyphicon-option-vertical"></span>
										</span>
										<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
										<li><a ng-click="deleteNote(note)">Delete</a></li>
										<li><a ng-click="">Add label</a></li>
										<li><a ng-click="copy(note)">Make a Copy</a></li>
										<li><a ng-click="fbAsyncSocialShare(note)">Social Share</a></li>
										
									</ul>
							</div>
					 </div>
				</div>
		</div>
	</div>
</div>
	
	
	
</div>