<div class="sideNav" id="sideNavContent">
 	<div class="col-3 container-fluid">
 		<ul>
			<li><a ui-sref="home">Notes</a></li>
			<li><a ui-sref="reminders">Reminder</a></li>
			
			<hr id="break">
				<div>
					<span id="font">Labels <a id="font" ng-click="addLabelModal()">Edit</a></span>
				</div>
				<div ng-repeat="label in labels">
					<a id="labelList" ui-sref="labels({id:label.labelName})">{{label.labelName}}</a>
				</div>
				
				<a id="font" ng-click="addLabelModal()">Create Label</a>
			<hr id="break">
			 
			
			<li><a ui-sref="trash">Trash</a></li>
			<li><a ui-sref="archive">Archive</a></li>
		</ul>
 	</div>
 </div>
 
 