<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="sideNav" id="sideNavContent">
			
				<div class="col-md-10 co-lg-10">
					<a ui-sref="home">Notes</a> 
					<a ui-sref="reminders">Reminder</a>
				</div>
				<div class="col-md-12">
					<hr id="break">
				</div>
					<div class="row">
						<div class="col-md-6">
							<a ui-sref="home">Labels</a>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-4">
							<a ng-click="addLabelModal()" style="font-size: 15px">Edit</a>
						</div>
						<div class="col-md-1"></div>
					</div>


					<div ng-repeat="label in labels">
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-9">
								<a id="labelList" ui-sref="labels({id:label.labelName})">{{label.labelName}}</a>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<a ng-click="addLabelModal()">Create Label</a>

						<hr id="break">

						<a ui-sref="trash">Trash</a> 
						<a ui-sref="archive">Archive</a>
						<a ui-sref="LogInfo">Activity Log</a> 
					</div>
				</div>
			</div>
		</div>
	
</div>



