<nav class="navbar navbar-default">

	<div class="container-fluid" id="topNavigation">
		<ul class="nav navbar-nav">
			<li><i class="glyphicons glyphicons-show-lines"></i></li>
			<li ng-click="">
				<span class="span-a" cursor: pointer">&#9776;</span>
			</li>
			<li><h4>Fundoo Notes</h4></li>
		
			<li><span class="glyphicon span-b glyphicon-search"></span></li>
			
			<li>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li>
				<div class="dropdown">
					<span class="btn dropdown-toggle" type="button" data-toggle="dropdown">
						<span class="glyphicon glyphicon-user"></span>
					</span>
				</div>
			</li>
		</ul>
		
	</div>
</nav>
