<nav class="navbar">
		<div class="container-fluid" id="topNavigation" ng-style="{'background-color': navBarColor}">
			<ul class="nav navbar-nav">
				
				<li><i class="glyphicons glyphicons-show-lines"></i></li>
				<li id="main" ng-click="toggleSideBar()">
					<span class="span-a">&#9776;</span></li>
				<li><h3 ng-bind="navBarHeading"></h3></li>
				<li>
					<span style="top: 25px;" class="glyphicon glyphicon-search"></span></li>
				<li>
					<div class="form-group">
						<input type="text" class="form-control search-bar" placeholder="Search">
					</div>
				</li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
					<li>
						<div class="dropdown">
							<a class="btn dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
								<img alt="" ng-src="{{user.profileImage}}" width="30px" height="30px" class="profile-pic">
							</a>
							
							<ul class="dropdown-menu">
	                        <li>
	                            <div class="user-settings">
	                                <div class="col-xs-4">
	                                    <img alt="Pic" ng-src="{{user.profileImage}}" width="60px" height="60px" class="profile-pic" ng-click="">
	                                </div>
	                                <div class="col-xs-8">
	                                    <span><b>{{user.firstName}} {{user.lastName}}</b></span>
	                                    <span class="user-email">{{user.email}}</span>
	                                </div>
	                            </div>
	                        </li>
	
	                        <li><a ng-click="logout()" type="button" id="btn-signout" ng-click="" class="btn btn-default pull-right">Logout</a></li>
	                    </ul>
					</div>
				</li>
			</ul>	
	</div>
</nav>
