<div class="topNav">
	<nav class="navbar navbar-fixed-top">
		<div class="container-fluid"  ng-style="{'background-color': topBarColor}"  style="padding: 0">
		
		<div>
			<ul class="nav navbar-nav">
				<li><i class="glyphicons glyphicons-show-lines"></i></li>
				<li id="main"><span onclick="toogleNav()" class="span-a">&#9776;</span></li>
				<li><h3 ng-bind="navBarHeading"></h3></li>
				<li><span style="top: 25px; padding-left: 40px;" class="glyphicon glyphicon-search"></span></li>
				<li>
					<div class="form-group">
						<input type="text" class="form-control search-bar"
							placeholder="Search">
					</div>
				</li>
			</ul>
		</div>
		<div>
			<ul class="nav navbar-nav" style="padding-left: 35%;margin: 19px; ">
				<li ng-click="ListViewToggle()" ><img
					ng-if="!ListView" height="30px" alt="gride"
					src="image/gridePxart.png"> <img ng-if="ListView"
					height="30px" alt="list" src="image/list1.png"></li>
				<li>
				
				</li>
			</ul>
		</div>
		<ul>
		<div class="imagedropdown">
					<span class="btn dropdown-toggle" id="menu1" type="button"
						data-toggle="dropdown" style="margin-top: 7px; float: right;"> <img
						alt="userProfile" ng-src="{{UserDetails.profileImage}}"
						width="40px" height="40px" class="img-circle">
					</span>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="right: 0;left: auto;">
						<div style="padding: 40px;">
								<div class="">
									<img alt="userProfile" ng-src="{{UserDetails.profileImage}}" ng-click="openImageUploader('user')"
										height="100px" class="img-circle"> 
								</div>
								<div class="" style="float: right;">
									{{UserDetails.firstName}} {{UserDetails.lastName}} <br>
									{{UserDetails.email}} <br> <br>
									
									<input id="imageuploader" ng-show="false"  type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
									
									<button type="button" class="btn " style="float: right">
											<li ng-click="logout()">Logout</li>
									</button>
								</div>
						</div>
				</div>
				</ul>
		</div>
	</nav>
</div>

