<top-bar></top-bar>
<side-bar></side-bar>

<div id="noteContainer" class="container-fluid">

	<add-notes></add-notes>
	
		<div class="container">
			<div class="row">
	 		 <div class="col-12">
				<br> <br>
					<div class="card"
						style="width: 27%; background-color: {{note.noteColor"
						ng-repeat="note in allGetNotes | orderBy : '-modifiedDate' | filter :{deleteStatus:'true'}">
						
						<div ng-click="open(note)">
								<div style="position: relative; margin: -10px;">
								<span class="glyphicon glyphicon-pushpin" id="moreOptions"  ng-click="note.pin='true'; updateNote(note)" style="position: absolute; right: 0;"></span>
									<img ng-src="{{note.image}}"  style="width:100%"/>
									
								</div>
								<div class="col-sm-12" style="padding: 10px;" id="moreOptions">
									
									<div ng-bind-html="note.title"></div>
									<br>
									<div ng-bind-html="note.description"></div>
									<br>
								</div>
						</div>
						
						
						
						
						
						<div id="moreOptions">
							<div class="dropdown">

								<span class="btn dropdown-toggle" id="menu1"
									data-toggle="dropdown"> <span
									class="glyphicon glyphicon-option-vertical"></span>
								</span>

								<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
									<li><a ng-click="deleteNoteForever(note.noteId)">Delete
											Forever</a></li>
									<li><a ng-click="restoreNote(note)">Restore</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
