<top-bar></top-bar>
<side-bar></side-bar>

<div id="noteContainer" class="container-fluid">

	<br><br><br>
	
		<div class="container">
			<div class="row">
	 		 <div class="col-12">
				<br><br><br>
			
					<div class="card col-sm-4"  background-color: {{note.noteColor"
						ng-repeat="note in allGetNotes | orderBy : '-modifiedDate' | filter :{deleteStatus:'true'}">
						
						<div ng-click="open(note)">
							<div class="pinCss1">
								<span class="glyphicon glyphicon-pushpin pinCss2"
									id="moreOptions" ng-click="note.pin='true'; updateNote(note)"></span>
	
								<a> <img ng-src="{{note.image}}" style="width: 100%" />
								</a>
	
							</div>
							<div class="col-sm-12" style="padding: 10px;" id="moreOptions">
	
								<div ng-bind-html="note.title"></div>
								<br>
								<div ng-bind-html="note.description"></div>
								<br>
							</div>
						</div>
						
						
						<div id="moreOptions">
							<div class="dropdown">

								<span class="btn dropdown-toggle" id="menu1"
									data-toggle="dropdown"> <span
									class="glyphicon glyphicon-option-vertical"></span>
								</span>

								<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
									<li><a ng-click="deleteNoteForever(note.noteId)">Delete
											Forever</a></li>
									<li><a ng-click="restoreNote(note)">Restore</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
