<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
      http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.bridgeit.springToDoApp" />
	
	<mvc:annotation-driven />

	<mvc:resources location="/Template/" mapping="/Template/**" />
	<mvc:resources location="/Service/" mapping="/Service/**" />
	<mvc:resources location="/Script/" mapping="/Script/**" />
	<mvc:resources location="/Controller/" mapping="/Controller/**" />
	<mvc:resources location="/Style/" mapping="/Style/**" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />

		<property name="url"
			value="jdbc:mysql://localhost:3306/ToDoApp?createDatabaseIfNotExist=true" />

		<property name="username" value="root" />

		<property name="password" value="password" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.bridgeit.springToDoApp.model.User</value>
				<value>com.bridgeit.springToDoApp.model.Note</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean id="mail" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="om4java@gmail.com" />
		<property name="password" value="forgiveme" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/**" />
			<bean class="com.bridgeit.springToDoApp.Filter.TokenInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>


	<bean id="jedisConnectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:use-pool="true" />

	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
		p:connection-factory-ref="jedisConnectionFactory" />


	<bean id="mailService" class="com.bridgeit.springToDoApp.service.MailServiceImpl">
		<property name="email" ref="mail" />
	</bean>

	<bean id="userDao" class="com.bridgeit.springToDoApp.dao.UserDaoImpl" />

	<bean id="userService" class="com.bridgeit.springToDoApp.service.UserServiceImpl" />

	<bean id="noteDao" class="com.bridgeit.springToDoApp.dao.NoteDaoImpl" />

	<bean id="noteService" class="com.bridgeit.springToDoApp.service.NoteServiceImpl" />

	<bean id="validator" class="com.bridgeit.springToDoApp.validation.Validator" />
		
	<bean id="encryption" class="com.bridgeit.springToDoApp.Utility.Encryption" />


</beans>
